# Data Processing & Math
numpy>=1.24.0
pandas>=2.0.0

# Medical Imaging Specialized
pydicom      # DICOM file handling
nibabel      # NIfTI (MRI/CT) file handling
scikit-image # Morphological operations & filtering

# Computer Vision & DL
opencv-python-headless
torch>=2.0.0
torchvision
scikit-learn

# Utilities
tqdm         # Progress bars for large scan processing
python-dotenv
